@use "fonts";
@use "variables" as *;

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

%transition-base {
  transition: $transition-def;
}

.nta_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 24px;
  padding: 0px 10px;

  .nta_header-block {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1080px;
    padding: 0 10px;
    margin-bottom: 24px;

    .nta_logo {
      max-width: 250px;
      max-height: 67px;
      width: 100%;
      height: 100%;
      min-width: 130px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .nta_login {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;

      p {
        font-family: $font-primary;
        font-weight: 400;
        font-size: $fs-md;
        color: #555;
        margin: 0;
      }

      a {
        @extend %transition-base;
        width: 52px;
        height: 52px;
        border-radius: 50%;
        background-color: #ca305f;
        color: #fff;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url("../img/academy_logo-white.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 20px 23px;

        &:hover,
        &:focus {
          background-color: #b03057;
        }
      }
    }
  }

  .nta_main-slider {
    margin-bottom: 27px;
    position: relative;
    width: 100%;
    max-width: 1100px;
    padding: 0 10px;
    height: 420px;

    .nta_main-slider__swiper {
      width: 100%;
      height: 100%;
      border-radius: 30px;
      overflow: hidden;

      .swiper-wrapper {
        .swiper-slide {
          width: 100%;
          height: 100%;
          background: #fff, rgba(0, 0, 0, 0.2);

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }

  .nta_main-image {
    width: 100%;
    max-width: 1080px;
    height: 410px;
    border-radius: 30px;
    overflow: hidden;
    position: relative;

    &__wrapper {
      width: 100%;
      height: 100%;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        @media (max-width: 480px) {
          object-position: top;
        }
      }
      .nta_main-image--object-left {
        object-position: left;
      }
    }

    &__content {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: flex;

      &-block--main:nth-child(1) {
        position: absolute;
        top: 301px;
        left: 124px;
        @media (max-width: 1080px) {
          left: 15%;
        }
      }
      &-block--main:nth-child(2) {
        position: absolute;
        top: 41px;
        left: 329px;
        @media (max-width: 1080px) {
          left: 38%;
        }
      }
      &-block--main:nth-child(3) {
        position: absolute;
        top: 143px;
        right: 43px;
        @media (max-width: 1080px) {
          right: 5%;
        }
      }
      .nta_main-image__content-block--program:nth-child(1) {
        top: 254px;
        left: 152px;
      }
      .nta_main-image__content-block--program:nth-child(2) {
        top: 47px;
        left: auto;
        right: 384px;
      }
      .nta_main-image__content-block--program:nth-child(3) {
        bottom: 60px;
        right: 81px;
        top: auto;
      }
      .nta_main-image__content-block--listeners:nth-child(1) {
        top: 35px;
        left: 69px;
      }
      .nta_main-image__content-block--listeners:nth-child(2) {
        top: auto;
        bottom: 55px;
        left: auto;
        right: 402px;
      }
      .nta_main-image__content-block--listeners:nth-child(3) {
        bottom: 109px;
        right: 78px;
        top: auto;
      }
      .nta_main-image__content-block--reviews:nth-child(1) {
        top: auto;
        bottom: 131px;
        left: 83px;
      }
      .nta_main-image__content-block--reviews:nth-child(2) {
        top: auto;
        bottom: 33px;
        left: 357px;
        right: auto;
      }
      .nta_main-image__content-block--reviews:nth-child(3) {
        bottom: auto;
        right: 142px;
        top: 55px;
      }
      .nta_main-image__content-block--contacts:nth-child(1) {
        top: 49px;
        left: 97px;
      }
      .nta_main-image__content-block--contacts:nth-child(2) {
        top: auto;
        bottom: 109px;
        left: auto;
        right: 335px;
      }
      .nta_main-image__content-block--contacts:nth-child(3) {
        bottom: 41px;
        right: 81px;
        top: auto;
      }
      &-block {
        position: absolute;
        display: flex;
        align-items: center;
        gap: 6px;
        background: rgba(255, 255, 255, 0.6);
        border: 1px solid #fff;
        border-radius: 40px;
        padding: 8px 16px;
        width: auto;
        max-width: 225px;
        height: auto;

        img {
          width: 38px;
          height: 30px;
          object-fit: contain;
        }

        p {
          font-family: $montserrat-medium;
          font-weight: 500;
          font-size: 14px;
          line-height: 129%;
          color: #000;
        }
      }
    }
  }

  .nta_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    width: 100%;
    max-width: 1080px;

    .nta_main-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      padding: 0;
      background: #222;
      border-radius: 20px;

      li {
        list-style: none;
        position: relative;
        display: flex;
        align-items: center;

        &::after {
          content: "";
          background-color: #ca305f;
          width: 1px;
          height: 31px;
        }

        &:last-child::after {
          display: none;
        }

        &.active a {
          color: #fff;
        }

        a {
          @extend %transition-base;
          width: 100%;
          height: 66px;
          padding: 16px 31px;
          border-radius: 100px;
          border: 0;
          text-decoration: none;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          font-family: $font-primary;
          font-weight: 400;
          font-size: $fs-sm;
          text-align: center;
          color: $white;

          &:hover {
            color: $yellow;
          }

          &.active {
            color: $yellow;
          }

          &:hover::after,
          &.active::after {
            background-image: url("../img/icon-white.svg");
          }
        }
      }

      .nta_active-podmenu {
        position: relative;

        > a {
          &::after {
            content: "";
            position: relative;
            margin-left: 2px;
            width: 16px;
            height: 16px;
            background-image: url("../img/icon-white.svg");
            background-repeat: no-repeat;
            background-position: center;
            @extend %transition-base;
          }

          &.active,
          &:hover {
            color: $yellow;
          }
        }

        &:hover > a::after {
          background-image: url("../img/icon-yellow.svg");
        }

        &:hover > a.active::after {
          background-image: url("../img/icon-white.svg");
        }

        &.active > a.active::after {
          background-image: url("../img/icon-yellow.svg");
        }

        .nta_podmenu {
          display: flex;
          position: absolute;
          flex-direction: column;
          gap: 10px;
          width: 100%;
          padding: 16px 31px;
          left: 0;
          background: $black;
          // border-radius: 30px;
          border-bottom-left-radius: 20px;
          border-bottom-right-radius: 20px;
          z-index: 1000;
          opacity: 0;
          visibility: hidden;
          top: 66px;
          // transform: translateY(1px);
          transition: all $transition-def;

          li {
            &::after {
              display: none;
            }

            &.nta_active a {
              color: $yellow;
            }

            a {
              font-family: $font-primary;
              font-weight: 400;
              font-size: $fs-sm;
              color: $white;
              text-align: left;
              text-decoration: none;
              background: none;
              border: none;
              border-radius: 0;
              padding: 0;
              width: auto;
              height: auto;
              justify-content: flex-start;
              display: flex;

              &:hover,
              &:focus,
              &:active {
                color: $yellow;
                opacity: 1;
              }
            }
          }
        }

        &:hover .nta_podmenu {
          opacity: 1;
          visibility: visible;
          // transform: translateY(100px);
        }
      }
    }
  }
}
