$font-primary: 'GothamPro',
sans-serif;
$font-secondary: 'GothamPro-Bold',
sans-serif;

$fw-regular: 400;
$fw-bold: 700;

$fs-sm: 15px;
$fs-md: 16px;
$fs-xl: 32px;
$fs-xxl: 40px;

$transition-def: all 0.3s ease;