@use 'fonts';
@use 'variables' as *;

main {
    .nta_double-wrap {
      
    

    .nta_main-wrapper {
       
.nta_reviews-wrap{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
        .nta_main-reviews {
            display: flex;
            flex-direction: column;
            gap: 16px;
            // max-width: 806px;
            width: 100%;
            height: auto;
            border: 1px solid #000;
            border-radius: 20px;
            padding: 20px 40px 24px;
            background: #f8fbfb;
            // margin-bottom: 16px;
        }

        .nta_main-name {
            display: flex;
            flex-direction: row;
            gap: 8px;
            border-bottom: 1px solid #000;
            .name{
                max-width: 69px;
                width: 100%;
                text-wrap: nowrap;
            }
            p{
                margin-bottom: 4px;
            }
        }

        .nta_main-review {
            display: flex;
            flex-direction: row;
            gap: 8px;
            border-bottom: 1px solid #000;
            .review{
                max-width: 60px;
                width: 100%;
                text-wrap: nowrap;
            }
            p{
                margin-bottom: 4px;
            }
        }
    }
}
}
